<div class="project">
  <h1 *ngIf="project != null; else newProjectTitle" class="header font-title">
    {{ project.title }}
  </h1>
  <ng-template #newProjectTitle>
    <form
      [formGroup]="newProjectReactiveForm"
      (keydown)="onKeyDown($event)"
      (submit)="onSubmit()"
    >
      <input
        type="text"
        id="newProjectTitleInput"
        class="header font-title"
        placeholder="Новый проект"
        formControlName="title"
      >
      <div class="header-error" *ngIf="isControlInvalid('title')">
        Название проекта должно состоять лишь из букв, цифр и пробелов
      </div>
    </form>
  </ng-template>
  <div class="body">
    <div class="todo-list">
      <app-todo
        *ngFor="let iterTodo of (project == null ? [] : project.todos)"
        [todo]="iterTodo"
        [project]="project"
      ></app-todo>
      <app-todo [todo]="null" [project]="project"></app-todo>
    </div>
  </div>
</div>
