.project {
  $project-border: 1px #ccc solid;

  min-width: 20rem;
  width: 100%;
  border: $project-border;
  border-radius: 10px;

  .header {
    $height: 2em;

    height: $height;
    line-height: $height;
    font-size: $height;

    margin: 5px 15px;

    font-weight: bold;
  }
  input.header {
    border: 0px;
  }
  input.header:focus{
    outline: none;
  }

  .body {
    padding: 20px;
    border-top: $project-border;

    .todo-list {
      list-style: none;
      line-height: 1.5em;

      .todo-new {
        $height: 2rem;

        height: $height;
        line-height: $height;
        font-size: $height;

        width: 100%;

        border: $project-border;
        border-radius: 5px;
        border-style: dashed;
        cursor: pointer;

        text-align: center;

        user-select: none;
      }
      .todo-new.disabled {
        opacity: 0.45;
        cursor: default;
      }
    }
  }
}
