<div class="project">
  <h1 *ngIf="project != null; else newProjectTitle" class="header font-title">{{ project.title }}</h1>
  <ng-template #newProjectTitle>
    <input type="text" class="header font-title" placeholder="Новая категория">
  </ng-template>
  <div class="body">
    <div class="todo-list">
      <app-todo
        *ngFor="let iterTodo of (project == null ? [] : project.todos)"
        [todo]="iterTodo"
        [project]="project"
      ></app-todo>
      <app-todo [todo]="null" [project]="project"></app-todo>
    </div>
  </div>
</div>
