.project {
  $project-border: 1px #ccc solid;

  min-width: 20rem;
  width: 100%;
  border: $project-border;
  border-radius: 10px;

  position: relative;

  .header {
    $height: 2em;
    $x-margin: 15px;

    line-height: $height;
    font-size: $height;

    width: calc(100% - 2 * #{$x-margin});

    margin: 5px $x-margin;

    font-weight: bold;
    overflow-wrap: anywhere;
  }
  input.header {
    border: 0px;
  }
  input.header:focus{
    outline: none;
  }
  input.header.ng-touched.ng-invalid {
    color: #c00;
  }
  div.header-error {
    position: absolute;
    right: 10px;
    top: 10px;

    min-width: 10rem;
    width: 40%;

    border: $project-border;
    border-radius: 5px;
    padding:5px;

    background-color: #ccc;

    z-index: 1;
  }

  .body {
    padding: 20px;
    border-top: $project-border;

    .todo-list {
      list-style: none;
      line-height: 1.5em;

      .todo-new {
        $height: 2rem;

        height: $height;
        line-height: $height;
        font-size: $height;

        width: 100%;

        border: $project-border;
        border-radius: 5px;
        border-style: dashed;
        cursor: pointer;

        text-align: center;

        user-select: none;
      }
      .todo-new.disabled {
        opacity: 0.45;
        cursor: default;
      }
    }
  }
}
