.todo-group {
  %todo {
    font-style: italic;
    margin-left: 10px;
  }

  .todo-actual {
    @extend %todo;
  }
  input.todo-actual {
    border: 0px;
    padding-left: 5px;

    font-size: 1.0em;
  }
  input.todo-actual:focus{
    outline: none;
  }
  input.todo-actual:disabled{
    background: none;
  }

  .todo-completed {
    @extend %todo;
    text-decoration: line-through;
  }
}

.todo-group.disabled {
  opacity: 0.3;
}
