<p class="todo-group" [class.disabled]="project == null">
  <input
    type="checkbox"
    [checked]="todo != null && todo.isCompleted"
    [disabled]="todo == null || project == null"
    (change)="onTodoStatusChange(todo, project)"
  >
  <span
    *ngIf="todo != null; else newTodo"
    [class.todo-actual]="todo == null || project == null || !todo.isCompleted"
    [class.todo-completed]="todo != null && project != null && todo.isCompleted"
  >
    {{ todo.text }}
  </span>

  <ng-template #newTodo>
    <form
      [formGroup]="newTodoReactiveForm"
      (keydown)="onKeyDown($event)"
      (submit)="onSubmit()"
    >
      <input
        type="text"
        class="todo-actual font-regular"
        placeholder="Новая задача"
        formControlName="text"
      >
    </form>
  </ng-template>
</p>
